footer {
    background: linear-gradient(135deg, #3e3e3e 0%, #252525 100%);
    color: var(--color-neutral-50);
    font: var(--type-body-2-default-font);
    letter-spacing: var(--type-body-2-default-letter-spacing);
    border-top: 4px solid var(--color-brand-500);
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 48px 24px 24px;
}

footer .footer > div > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

footer .footer a {
    color: var(--color-neutral-50);
    text-decoration: underline;
    text-underline-offset: 2px;
}

footer .footer a:hover {
    color: var(--color-brand-100);
}

footer .footer p {
    margin: 0;
}

.storeview-switcher-button {
    background: transparent;
    padding-left: 0;
}

.storeview-modal-storeview-title {
    margin-bottom: var(--spacing-xxbig);
    padding-inline-start: var(--spacing-xbig);
}

.modal .close-button {
    top: 40px !important;
    right: 40px !important;
}

.storeview-single-store {
    list-style-type: none;
}

.storeview-selection .storeview-multiple-stores {
    list-style-image: url("../../icons/chevron-right.svg");
    list-style-position: inside;
}

.storeview-selection > li {
    margin-bottom: var(--spacing-small);
}

.storeview-multiple-stores > ul {
    position: relative;
    width: 100%;
}

.storeview-multiple-stores > ul > li {
    list-style: none;
    display: none;
}

.storeview-multiple-stores[aria-expanded="true"] {
    list-style-image: url("../../icons/chevron-down.svg");
}

.storeview-multiple-stores[aria-expanded="true"] > ul {
    padding-left: 0;
}

.storeview-multiple-stores[aria-expanded="true"] > ul > li {
    display: block;
    list-style-type: none;
    margin-bottom: var(--spacing-small);
}

@media (min-width: 900px) {
    footer .footer > div {
        padding: 48px 32px 24px;
    }
}
